Source: ros-indigo-fanuc-lrmate200ic-moveit-plugins
Section: misc
Priority: extra
Maintainer: G.A. vd. Hoorn (TU Delft Robotics Institute) <g.a.vanderhoorn@tudelft.nl>
Build-Depends: debhelper (>= 9.0.0), liblapack-dev, ros-indigo-catkin, ros-indigo-moveit-core, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-tf-conversions
Homepage: http://wiki.ros.org/fanuc_lrmate200ic_moveit_plugins
Standards-Version: 3.9.2

Package: ros-indigo-fanuc-lrmate200ic-moveit-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblapack-dev, ros-indigo-moveit-core, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-tf-conversions
Description: MoveIt plugins for the Fanuc LR Mate 200iC (and variants).
 This package contains plugins for use with MoveIt and Fanuc LR Mate 200iC manipulators. Plugins included support the base model (/5C, /5WP), /5H, /5L (/5LC), /5F and the /5HS (using the /5H plugin). Variants in brackets are supported by the plugin of the referenced model. See the Fanuc LR Mate 200iC support package for information on used joint angle and velocity limits. Before using any of the plugins included in this package, be sure to check they are correct for the particular robot model and configuration you intend to use them with.
